body{

font-family:Arial;

background:#f1f5f9;

padding:30px;

}


.container{

max-width:800px;

margin:auto;

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 20px #ccc;

}



input,textarea,select{

width:100%;

padding:12px;

margin:10px 0;

}



textarea{

height:200px;

font-family:monospace;

}



button{

padding:12px;

background:#2563eb;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

width:100%;

}



.snippet{

background:#eee;

padding:15px;

margin:15px 0;

border-radius:10px;

}



pre{

background:#111;

color:#fff;

padding:15px;

overflow:auto;

}
